html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;

  min-width: 1920px;

  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background: #ffffff;
}

.features {
  font-size: 0;
}

.features-item {
  display: inline-block;

  font-size: 18px;
  vertical-align: top;
}

.front-bg1 {
  width: 396px;
  min-height: 1080px;

  background: url("../img/bkg1.jpg") no-repeat;
}

.front-bg2 {
  width: 376px;
  min-height: 1080px;

  background: url("../img/bkg2.jpg") no-repeat;
}

.front-bg3 {
  width: 376px;
  min-height: 1080px;

  background: url("../img/bkg3.jpg") no-repeat;
}

.front-bg4 {
  width: 376px;
  min-height: 1080px;

  background: url("../img/bkg4.jpg") no-repeat;
}

.front-bg5 {
  width: 396px;
  min-height: 1080px;

  background: url("../img/bkg5.jpg") no-repeat;
}

.btn1 {
  padding-top: 48px;
  padding-left: 34px;
}

.btn2 {
  padding-top: 48px;
  padding-left: 15px;

  opacity: 0.9;
}

.btn3 {
  padding-top: 48px;
  padding-left: 15px;

  opacity: 0.8;
}

.btn4 {
  padding-top: 48px;
  padding-left: 15px;

  opacity: 0.7;
}

.btn5 {
  padding-top: 48px;
  padding-left: 15px;

  opacity: 0.6;
}

.btn__link {
  display: block;
  width: 345px;
  min-height: 93px;
  margin: 0;
  padding-top: 30px;

  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #024b9d;
  box-shadow: 0 40px 20px -30px rgba(0,0,0,0.4);
}

.features-item > .features-item__front {
  position: relative;

  -webkit-transform: perspective( 600px ) translateX(0) rotateY( 0deg );
          transform: perspective( 600px ) translateX(0) rotateY( 0deg );
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-transition: -webkit-transform 0.5s linear 0s;
          transition: -webkit-transform 0.5s linear 0s;
          transition:         transform 0.5s linear 0s;
          transition:         transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

.features-item > .features-item__back {
  position: absolute;
  top: 0;

  -webkit-transform: perspective( 600px ) translateX(300px) rotateY( 90deg );
          transform: perspective( 600px ) translateX(300px) rotateY( 90deg );
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-transition: -webkit-transform 0.5s linear 0s;
          transition: -webkit-transform 0.5s linear 0s;
          transition:         transform 0.5s linear 0s;
          transition:         transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}
.features-item:hover > .features-item__front {
  -webkit-transform: perspective( 600px ) translateX(-300px) rotateY( -90deg );
          transform: perspective( 600px ) translateX(-300px) rotateY( -90deg );
}
.features-item:hover > .features-item__back {
  -webkit-transform: perspective( 600px ) translateX(0) rotateY( 0deg );
          transform: perspective( 600px ) translateX(0) rotateY( 0deg );
}

.back-bg1 {
  width: 396px;
  min-height: 1080px;

  background: rgba(87, 88, 87, 0.7);
}

.back-bg2 {
  width: 376px;
  min-height: 1080px;

  background: rgba(87, 88, 87, 0.8);
}

.back-bg3 {
  width: 376px;
  min-height: 1080px;

  background: rgba(87, 88, 87, 0.9);
}

.back-bg4 {
  width: 376px;
  min-height: 1080px;

  background: rgba(87, 88, 87, 1);
}

.menu-list1 {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-left: 52px;

  list-style: none;
}

.menu-list,
.menu-list3 {
  margin: 0;
  padding: 0;
  padding-top: 43px;
  padding-left: 34px;

  list-style: none;
}

.menu-list__item {
  margin-bottom: 18px;
}

.menu-list__link {
  display: block;

  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.blue {
  color: #2693ff;
}

.menu-list3 .menu-list__link {
  line-height: 23px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.page-footer {
  color: #ffffff;
  position: absolute;
  background: rgba(24, 71, 164, 0.9);
  min-width: 1920px;
  min-height: 210px;
  bottom: 0;
  box-shadow: 0 -15px 20px 0px rgba(0,0,0,0.4);
}

.phone {
  float: left;

  font-weight: 700;
  font-size: 29px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 97px;
  padding-top: 107px;
  margin-right: 517px;
}

.logo {
  float: left;
  padding-top: 62px;
}

.logo img {
  width: 319px;
  height: 67px;
}

.copyright {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  padding-top: 46px;
  padding-left: 12px;
}

.mail {
  float: right;
  padding-right: 116px;
  padding-top: 110px;
}

.mail a {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
